body {
    margin: 0px;
    padding: 0px;
    font-family: "Work Sans", sans-serif;
}

a {
    font-weight: 400;
    text-decoration: none;
}

dt {
    line-height: 30px;
}


/* Mobile */
@media (max-width: 768px) {
    body {
        font-size: 2.5vw;
    }

    h2 {
        font-size: 4vw;
    }

    .project-title {
        font-size: 3vw;
    }

    .hidden-mobile {
        display: none !important;
    }

    .panel-container {
        flex-direction: column;
    }

    .panel-container>.side-panel {
        padding: 0.5em 0 0.5em 0 !important;
    }

    #portfolio-title {
        margin: 0 !important;
    }

    #navigation {
        font-size: 12pt;
        margin: 0;
    }

    #links {
        font-size: 12pt;
    }

    #about-pic {
        display: block;
        margin: 0 auto 0.5em auto;
    }
}

/*  Desktops */
@media (min-width: 768px) {
    .panel-container {
        flex-direction: row;
    }

    .panel-container>.main-panel {
        width: 75%;
    }

    .main-panel>.panel-content {
        width: 100%;
    }

    .panel-container>.side-panel {
        width: 650px;
    }

    h1 {
        font-size: 48px;
    }

    span {
        font-size: 24px;
    }

    #about-pic {
        float: right;
        margin: 5px;
    }
}

.panel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
}

.panel-container>.main-panel {
    color: #24262b;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-family: "Roboto", sans-serif !important;
    font-weight: 300;
    padding: 50px;
}

.panel-container>.side-panel {
    color: #fff;
    padding-top: 250px;
    text-align: center;
    background: #10174e;
}

.side-panel hr {
    width:70%;
    border-top: 2px solid #5981ca;
}

.side-panel ul {
    list-style-type: none;
    margin: 12px 0 12px 0;
    padding: 0;
    overflow: hidden;
}

.side-panel li {
    margin: 4px;
    display: inline;
}

h1 {
    font-weight: 100;
}

.panel-content {
    margin-bottom: 24px;
}

.panel-content>a:hover,
a:active {
    color: #fff;
    background-color: #5041d8;
}

h2 {
    font-weight: 400;
}

.main-panel {
    scroll-behavior: smooth;
}

.main-panel h2 {
    color: #1f618d;
}

.panel-title {
    border-bottom: 2px solid #000;
}

.peach {
    color: rgba(252, 182, 159, 1);
}

span {
    letter-spacing: 10px;
}

span>a {
    color: #fff;
}

span>a:active,
a:hover {
    color: #5981ca;
}

#portfolio-title {
    margin-top: 0.5em;
}

#logo {
    width: 64px;
    margin: 6px;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}

#logo:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

#glider-grid {
    display: grid;
    width: 56px;
    height: 56px;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    margin: auto;
    grid-template-columns: auto auto auto;
}

.project-title {
    float: left;
    font-size: 16pt;
}

.project-desc, .experience-desc {
    clear: both;
    width: 100%;
    padding-left: 24pt;
}

.languages {
    color: #1f618d;
    list-style-type: none;
    margin: 12px 0 12px 0;
    padding: 0;
    overflow: hidden;
    float: right;
    font-size: 11pt;
}

.languages li {
    margin: 4px;
    display: inline;
}

.experience-title {
    font-size: 16pt;
}

.experience-position {
    color: #1f618d;
    float: left;
    font-size: 10pt;
}

.experience-dates {
    color: #1f618d;
    float: right;
    font-size: 10pt;
}

#rndquote {
    font-size: 12px;
}

.side-panel>ul>li>a {
    display: inline-block;
    position: relative;
    padding-bottom: 1px;
    text-decoration: none;
}

.side-panel>ul>li>a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.side-panel>ul>li>a:hover:after {
    width: 100%;
    background: #5981ca;
}
