body {
	margin: 0 auto;
	color: #222222;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #e6eff9;
}

h2 {
	color: #323232;
}

#bio {
	margin: 20px 100px 0 100px;
	background-color: #EEEEEE;
	border: 5px solid #ADCAEE;
	height: 400px;
}

#bio img {
	float: right;
	margin: 0px auto;
	height: 100%;
	margin-left: 40px;
}

#bio-desc {
	margin: 0px 40px;
}

ul li {
  display: inline;
}